    <div class="brand">JAWA.im</div>
    <div class="address-bar">Twitter @scatzz88 | coderwall scatzz88 | 555.519.2013</div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">JAWA.im</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/projects">Projects</a></li>
            <li><a href="#/contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>Anderson</strong></h2>
            <hr>
          </div>
          <div class="col-md-6">
            <img class="img-responsive img-border-left" src="images/slide-2.jpg">
          </div>
          <div class="col-md-6">
            <p>Hey everyone! Welcome to my port as I like to call it. It is a space where I showcase and test my work some of my work.</p>
            <p>I love photography, music, technology, saying something in very few words, movies (last year I saw "too many")...</p>
            <p>Currently studying Web Design and Development. Graduation date in August! Scared and excited am I!</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">The <strong>Team</strong></h2>
            <hr>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="images/pogo.jpg">
              <h3>Pogo <br/><small>Director</small></h3>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="images/tres.jpg">
              <h3>Tres alborotadores<br/><small>TROUBLE.</small></h3>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="images/jawa.jpg">
              <h3>JAWA <br/><small>Did you see that?</small></h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div><!-- /.container -->