<div class="brand">JAWA.im</div>
    <div class="address-bar">Twitter @scatzz88 | coderwall scatzz88 | 555.519.2013</div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">JAWA.im</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/projects">Projects</a></li>
            <li><a href="#/contactl">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="box">
          <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img class="img-responsive img-full" src="images/slide-1.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="images/slide-2.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="images/slide-3.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="images/slide-4.jpg" >
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
            <h1><small>Welcome to</small><br><span class="brand-name">JAWA's port</span><hr class="tagline-divider"><!-- <small>Anderson's <strong>Space</strong></small> --></h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Building up <strong>the port</strong></h2>
            <hr>
            <img class="img-responsive img-border img-left" src="images/sydneyprt.jpg" alt="Sydney Australia Ports">
            <hr class="visible-xs">
            <p>This port is currently under remodel. But then it will always be a work in process.</p>
            <p>This is where I will be showcasing some of my classwork and side projects. I like thinking of it as an port where pieces will be coming and going all the time as goods in a shipyard do.</p>
            <p>Within the next few months the blog will be functional, an semi-interactive resume finished (until then I you can find my resume <a href="#">here)</a></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Resume <strong>(non interactive)</strong></h2>
            <hr>
            <p>So, if you have already read the about page, then go ahead and read about me some more! Go on with your bad self.</p>
            <p>For the past 2 years I have been studying Web Design and Development. I have learned a lot (still learning!). It's been an intense journey, but very exciting. From learning HTML and CSS in a barebones texteditor to building applications and games in Actionscript. Then stumbling into Javascript after what seemed like years of Actionscript and then in mySQL, mongo, PHP, and ColdFusion. Oh mustn't forget about jQuery...! It continues to be awesome. Sometimes I have no clue what I am doing but, we all have those moments, RIGHT?</p>
          </div>
        </div>
      </div>

    </div><!-- /.container -->